doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Interview Assistant
        link(rel='stylesheet', href='/public/stylesheets/style.css')
        
    body        
      p(id="roomname", hidden='') #{roomname}
      p(id="isInterviewer", hidden='') #{isInterviewer}
        
      section.msger
        header.msger-header
          .msger-header-title
            i.fas.fa-comment-alt
            |  Interview Assistant - Room #{roomname}            
          .msger-header-options
            span
              i.fas.fa-cog
              p(id="remaintime") #{remaintime} min
        main.msger-chat
        //-   .msg.left-msg
        //-     .msg-img(style='background-image: url(https://www.svgrepo.com/show/285249/robot.svg)')
        //-     .msg-bubble
        //-       .msg-info
        //-         .msg-info-name Interview Assistant
        //-         .msg-info-time #{current_time}
        //-       .msg-text
        //-         | 
        //-         button.msg_init_btn ✅ Init <br/>
        //-         button.msg_quit_btn ❌ Quit   
        form.msger-inputarea
          input.msger-input(type='text' placeholder='Enter your message...')
          button.msger-send-btn(type='submit') Send
        
        div(id="modal" class="modal-overlay")


script(src="/socket.io/socket.io.js")
script(src="/public/js/simple_chat.js")
